@import "variables.css";

.container {
    width: 80%;
    height: 500px;
    display: flex;
    gap: 30px;
}

.chart-container {
    flex: 1;
}

.parameters {
    width: 300px;
    padding: 20px;
}


.mu,
.sigma {
    margin-bottom: 30px;
}

.mu, .sigma input[type="range"] {
    accent-color: var(--primary-color);
}

.mu label,
.sigma label {
    display: block;
    margin-bottom: 10px;
}

.mu input,
.sigma input {
    width: 100%;
}

.mu span,
.sigma span {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
}